.card-header {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: unset !important;
    margin: unset !important;
}

.card-title {
    margin: unset !important;
    margin-bottom: 5px !important;
    text-align: left;
}