div.ProductList {
    width: 25vw;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.ProductImageContainer {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
}

.ProductListItemBody {
    display: inline-block;
}

.ProductListItem.card-header {
    padding: 10px !important;
}

@media only screen and (max-device-width: 600px) {
    div.ProductList {
        width: unset;
        padding-top: 20px;
    }

    .ProductListItemBody {
        max-width: 100%;
    }
}