.ProductListItemBody {
    max-width: 25vw;
}

.ProductListItem.card-header {
    padding: 10px !important;
}

@media only screen and (max-device-width: 600px) {
    .ProductList {
        padding-top: 20px;
    }

    .ProductListItemBody {
        max-width: unset;
    }
}