.ProfileBody {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.ProfileBody h2 {
    text-align: center;
    margin-bottom: 20px;
}

.ProfileBody img {
    text-align: center;
    margin: 0 auto;
}

.ProfileDesks {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-device-width: 600px) {
    .ProfileBody {
        flex-direction: column;
    }

    .ProfileDesks {
        flex-direction: column;
    }
}