.DeskImage {
    /* padding-top: 5vh; */
    width: 100%;
    margin: 0 auto;
}

.Home {
    align-items: center;
    text-align: center;
}

.HomeTitle {
    /* font-family: 'Recoleta Black'; */
    font-weight: 900;
    font-size: 300%;
}

.HomeSubtitle {
    padding-top: 90px;
    padding-bottom: 10px;
    /* font-family: 'Recoleta Black'; */
}

.FeaturedList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.Splash {
    position: relative;
}

.HeroTitle {
    left: 50px;
    top: 120px;
    padding: 20px;
    text-align: left;
    position: absolute;
    width: 800px;
}

.HeroTitle h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 650%;
    color: #343a40;
}

.HeroTitle h2 {
    color: #343a40;
}

.HeroTitle h5 {
    color: #343a40;
    padding-bottom: 10px;
}

.HeroTitle .btn {
    margin-left: 2px;
}

.HeroTitle div {
    width: 600px;
}

@media only screen and (max-device-width: 600px) {
    .HomeSubtitle {
        padding-bottom: 0px;
        padding-top: 40px;
    }

    .HeroTitle div {
        width: 350px;
    }

    .HeroTitle {
        top: 100px;
        left: unset;
        width: 370px;
    }

    .HeroTitle h1 {
        font-size: 300%;
        padding-bottom: 10px;
    }

    .HeroTitle h2 {
        font-size: 150%;
        padding-bottom: 10px;
    }

    .HeroTitle h5 {
        font-size: 100%;
        padding-bottom: 10px;
    }

    .HeroTitle .btn {
        margin-left: 5px;
    }
}