.ChartsBody {
    padding-left: 400px;
    padding-right: 400px;
}

.ChartsBody h5 {
    padding: 10px;
    text-align: center;
}

@media only screen and (max-device-width: 600px) {
    .ChartsBody {
        padding-left: unset;
        padding-right: unset;
    }
}