.Header {
    border-bottom: 1px solid #ededed;
    z-index: 1050 !important;
}

.HeaderNav {
    /* border-left: 1px solid #ededed; */
    padding-left: 20px;
    padding-right: 20px;
}

.vl {
    border-left: 1px solid #ededed;
    height: 100%;
}

.HeaderLogo {
    font-family: 'Permanent Marker', cursive;
}

.SignedIn {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media only screen and (max-device-width: 600px) {
    .SignedIn {
        justify-content: flex-start;
        flex-direction: column;
    }

    .SignedIn img {
        display: none;
    }
}