.Body {
  padding: 20px;
  padding-top: 10px;
  min-height: 84vh;
}

.ShareBody {
  padding-top: 10px;
  padding-bottom: 40px;
  min-height: 84vh;
}

.DeskBody {
  padding-top: 50px;
  padding-bottom: 40px;
  min-height: 84vh;
}

.NewBody {
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-device-width: 600px) {
  .NewBody {
    flex-direction: column;
    padding: 0px;
  }

  .ShareBody {
    padding-top: 10px;
  }

  .DeskBody {
    padding-top: 20px;
  }
}