.Body {
  padding: 20px;
  padding-top: 10px;
  min-height: 84vh;
}

.ShareBody {
  padding-top: 10px;
  padding-bottom: 40px;
  min-height: 84vh;
}

.NewBody {
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-device-width: 480px) {
  .NewBody {
    flex-direction: column;
  }
}