.DeskDetails {
    width: 40vh;
}

@media only screen and (max-device-width: 600px) {
    .DeskDetails {
        width: unset;
    }
    .DeskDetailsCard {
        margin-right: 0px;
        margin-bottom: 20px;
    }
}