.DeskGrid {
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.SearchBar {
    display: flex;
    flex-direction: row;
}

.ExploreSearchBar {
    width: 60vw;
}

@media only screen and (max-device-width: 600px) {
    .DeskGrid.card {
        margin: 0 auto;
    }
    
    .ExploreSearchBar {
        display: none;
        margin: unset;
    }
}

